/* =============================================================================
   General
   ========================================================================== */

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold/OpenSans-Semibold.svg#KomikaTitle-Paint') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KomikaTitle-Paint';
  src: url('../fonts/KomikaTitle-Paint/KomikaTitle-Paint.eot');
  src: url('../fonts/KomikaTitle-Paint/KomikaTitle-Paint.eot?#iefix') format('embedded-opentype'),
     url('../fonts/KomikaTitle-Paint/KomikaTitle-Paint.woff') format('woff'),
     url('../fonts/KomikaTitle-Paint/KomikaTitle-Paint.ttf') format('truetype'),
     url('../fonts/KomikaTitle-Paint/KomikaTitle-Paint.svg#KomikaTitle-Paint') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalDreamFat';
  src: url('../fonts/DigitalDreamFat/DigitalDreamFat.eot');
  src: url('../fonts/DigitalDreamFat/DigitalDreamFat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DigitalDreamFat/DigitalDreamFat.woff') format('woff'),
    url('../fonts/DigitalDreamFat/DigitalDreamFat.ttf') format('truetype'),
     url('../fonts/DigitalDreamFat/DigitalDreamFat.svg#DigitalDreamFat') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, #main, .container, section {
  overflow: auto;
}

h1, h2 {
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 40px;
  margin: 35px 0;
  text-align: left;
}

h2 .checker-stripe {
  background: transparent url('../img/checker_stripe.png') repeat-x 0 7px;
  float: right;
  height: 48px;
}

.container {
  color: #ffffff;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

/* =============================================================================
   Top/Header
   ========================================================================== */

header {
  position: fixed;
    top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  background: transparent url('../img/nav_bg.png') repeat 0 0;
  font-family: OpenSans-Semibold, Helvetica, Arial, sans-serif;
  padding: 5px 0;
  text-transform: uppercase;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a,
nav a:visited {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
}

nav a:hover {
  color: #eef13f;
}

#triple-dare {
  background: #80c1d6 url('../img/header_slime_spot.png') no-repeat 50%;
}

#triple-dare .texture {
  background: transparent url('../img/blue_texture.png') repeat 0 0;
  overflow: auto;
  padding-bottom: 80px;
}

h1#logo {
  background: transparent url('../img/logo.png') no-repeat 42% 0;
  height: 426px;
  margin: 80px 0 35px 0;
  overflow: hidden;
  text-indent: -5000px;
}

#triple-dare p {
  margin: 10px 0;
}

#triple-dare #sub-title {
  color: #fe6537;
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #ffffff;
    -webkit-text-shadow: 3px 3px 0 #ffffff;
    -moz-text-shadow: 3px 3px 0 #ffffff;
    -o-text-shadow: 3px 3px 0 #ffffff;
}

#triple-dare #air-times {
  font-size: 22px;
}

/* =============================================================================
   Obstacles
   ========================================================================== */

#obstacles {
  background: #fe6638 url('../img/orange_texture.png') repeat 0 0;
  border-bottom: 7px solid #ef6035;
  border-top: 7px solid #ef6035;
}

#obstacles .checker-stripe {
  width: 660px;
}

.obstacle-switcher {
  float: left;
  margin: 25px 0 70px 0;
  width: 470px;
}

.obstacle-switcher ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.obstacle-switcher li {
  background: #80b238 url('../img/green_texture.png') repeat 0 0;
  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
  float: left;
  height: 220px;
  margin: 0 15px 15px 0;
  width: 220px;
}

.obstacle-switcher a {
  background: transparent url('../img/obstacle_links.png') repeat 0 0;
  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
  color: #ffffff;
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  font-size: 14px;
  float: left;
  padding: 188px 0 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 220px;
}

#slide-link {
  background-position: -220px 0;
}

#wheel-link {
  background-position: 0 -220px;
}

#hatch-link {
  background-position: -220px -220px;
}

#nose-link {
  background-position: 0 -440px;
}

#wringer-link {
  background-position: -220px -440px;
}

.obstacle-switcher li:hover {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  position: relative;
    top: -1px;
    left: -1px;
}

.obstacle-switcher li.active {
  background: #eef13f url('../img/yellow_texture.png') repeat 0 0;
}

.obstacle-switcher li.active a {
  color: #fe6638;
}

#obstacle-item-container {
  float: left;
  position: relative;
}

.obstacle-item {
  opacity: 0;
  margin: 25px 0 10px 0;
  position: absolute;
    top: 0;
  text-align: center;
  transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
  width: 470px;
}

.obstacle-item.active {
  opacity: 1;
}

.obstacle-item div {
  background: transparent url('../img/obstacle_splash.png') no-repeat 50%;
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  font-size: 21px;
  height: 160px;
  margin-bottom: 20px;
  padding-top: 45px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.obstacle-item h3, .obstacle-item p {
  margin: 10px 0;
  transform: rotate(-7.5deg);  
    -webkit-transform: rotate(-7.5deg);
    -moz-transform: rotate(-7.5deg);
    -o-transform: rotate(-7.5deg);
    -ms-transform: rotate(-7.5deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=0.13052619222005157, M21=-0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
    zoom: 1;
}

.obstacle-item h3 {
  font-size: 40px;
}

/* =============================================================================
   Prizes
   ========================================================================== */

#prizes {
  background: #80b238 url('../img/green_texture.png') repeat 0 0;
  border-bottom: 7px solid #78a835;
  border-top: 7px solid #78a835;
}

#prizes .checker-stripe {
  width: 760px;
}

.prize {
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  float: left;
  font-size: 16px;
  height: 500px;
  text-align: center;
  width: 470px;
}

#prizes img {
  transition: transform 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    -o-transition: -webkit-transform 0.2s ease-in;
}

#prizes img:hover {
  transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
}

#keyboard-prize {
  height: 300px;
}

#tv-prize {
  margin-top: -200px;
}

/* =============================================================================
   Be a Contestant
   ========================================================================== */

#be-a-contestant {
  background: #80c1d6  url('../img/blue_texture.png') repeat 0 0;
  border-top: 7px solid #62a9c2;
}

#be-a-contestant .checker-stripe {
  background-position: -20px 7px;
  width: 520px;
}

#contestant-form {
  float: left;
  text-align: left;
  width: 470px;
}

input[type=text], input[type=email], input[type=url], select {
  background: #fe6638 url('../img/orange_texture.png') repeat 0 0;
  border: none;
  border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
  color: #ffffff;
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 12px 11px 12px;
  text-transform: uppercase; /* Doesn't work for select. */
  width: 356px;
}

select {
  appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    -o-appearance: button;
  background: #fe6638  url('../img/dropdown_arrow.png') no-repeat top right;
  padding-right: 70px;
  width: auto;
}

input[type=text].error, input[type=email].error, input[type=url].error {
  background: #ff3838 url('../img/red_texture.png') repeat 0 0;
}

select.error {
  background-color: #ff3838;
  background-position: bottom right;
}

input[type=text], input[type=email], input[type=url], select, .status-arrow {
  margin: 0 10px 10px 0;
}

.status-arrow {
  opacity: 0;
  transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

.status-arrow.error {
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

input:-moz-placeholder {
  color: #ffffff;
}

#submit-splash {
  background: transparent url('../img/submit_splash.png') no-repeat 50%;
  height: 155px;
  margin: 20px 0 0 65px;
  width: 215px;
}

input[type=submit] {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  text-shadow: 0.18em 0.18em 0 rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 0.18em 0.18em 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0.18em 0.18em 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0.18em 0.18em 0 rgba(0, 0, 0, 0.2);
  transform: rotate(-7.5deg);  
    -webkit-transform: rotate(-7.5deg);
    -moz-transform: rotate(-7.5deg);
    -o-transform: rotate(-7.5deg);
    -ms-transform: rotate(-7.5deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=0.13052619222005157, M21=-0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
    zoom: 1;
  transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
  font-size: 26px;
  height: 155px;
  padding: 0;
  text-transform: uppercase;
  width: 215px;
}

input[type=submit]:hover {
  color: #eef13f;
}

#submit-loader {
  margin: 45px 0 0 80px;
}

#team-colour {
  padding-right: 67px;
  width: 220px;
}

#gender {
  width: 146px;
}

#timer {
  float: left;
  width: 470px;
}

#clock {
  background: transparent url('../img/clock_bg.png') no-repeat 50%;
  padding: 80px;
}

#time {
  color: #eef13f;
  font-family: DigitalDreamFat, Helvetica, Arial, sans-serif;
  font-size: 140px;
  margin: 0;
  text-shadow: 5px 5px 0 #000000;
    -webkit-text-shadow: 5px 5px 0 #000000;
    -moz-text-shadow: 5px 5px 0 #000000;
    -o-text-shadow: 5px 5px 0 #000000;
}

#clock-ticking {
  font-size: 40px;
  font-family: KomikaTitle-Paint, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0.11em 0.11em 0 rgba(0, 0, 0, 0.2);
  padding: 0 105px;
}

/* =============================================================================
   Footer
   ========================================================================== */

footer {
  background: #80c1d6  url('../img/blue_texture.png') repeat 0 0;
  font-family: OpenSans-Semibold, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 145px 0 30px 0;
}

#footer-main {
  border-top: 7px solid rgba(0, 0, 0, 0.1);
  border-bottom: 7px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

#footer-main img {
  margin-top: -45px;
}

footer h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}


.left, .right {
  float: left;
  width: 455px;
}

.left {
  padding-right: 15px;
  text-align: right;
}

.right {
  padding-left: 15px;
  text-align: left;
}